body {
  background-color: $dark !important;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-white {
  color: white;
}

.text-dark {
  color: $dark;
}

.btn {
  img.i {
    margin-top: 0 !important;
    width: 20px;
    margin-right: 5px;
  }
}

.btn-dark {
  background: lighten(#000, 13.5%);
  &,
  &:hover {
    color: white !important;
  }
}

.label-before {
  line-height: 20px;
  font-size: 12px;
  top: -10px;
  padding: 0 6px;
  left: 9px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.p-all-1 {
  padding: 10px !important;
}

.p-all-3 {
  padding: 30px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pd-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0 !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.feature-text {
  color: #d00a11;
  font-size: 24px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.m-top {
  margin-top: 30px;
}

.m-top-10 {
  margin-top: 10px;
}

.mt-0 {
  margin-top: 0 !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: #f3f3f3;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ln-40 {
  line-height: 40px;
}

.py-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.d-block {
  display: block;
}

.border-red {
  border-radius: 5px;
  border: 2px solid $primary;
}

.border-green {
  border-radius: 5px;
  border: 2px solid $secondary;
}

.border-yellow {
  border-radius: 5px;
  border: 2px solid #d4a20e;
}

.t-label {
  color: #797979;
  font-size: 14px;
  margin-bottom: 5px;
}

.value {
  font-weight: bold;
}

.sticky {
  position: fixed !important;
  top: 0px;
  z-index: 1;
  background: #333;
  width: 100%;
  padding: 12px 0px;
}

.actions {
  margin-top: 70px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;

  .btn {
    width: 100%;
    transition: 0.5s;

    &:hover {
      opacity: 0.75;
    }
  }
}

.field {
  position: relative;
  margin-bottom: 15px;

  label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: white;
    transition: 300ms all;
  }

  input,
  select {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    appearance: none;
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    border-radius: 0;

    &:focus {
      outline: 0;
      border-bottom-color: $secondary;
    }

    &:valid + label::before {
      @extend .label-before;
      content: attr(data-title);
    }

    &:focus + label::before {
      @extend .label-before;
      color: $secondary;
    }
  }

  &.selection {
    label::before {
      top: 10px !important;
      left: -5px !important;
      font-size: 14px !important;
    }

    select {
      background: url(../img/caret-down.svg) no-repeat !important;
      background-size: 12px !important;
      background-position: right !important;
      z-index: 1;

      &:focus + label::before {
        top: -10px !important;
        left: -5px !important;
        font-size: 12px !important;
      }

      &.selected + label::before {
        top: -10px !important;
        left: -5px !important;
        font-size: 12px !important;
      }
    }
  }
}
