/** Colors */
$primary:               #d10a11; 		// red
$brand-primary:			#d10a11; 		// red
$secondary:             #1dcf76; 		// green
$light:                 #3b5998; 		// blue
$dark:                  #333333; 		// gray
$link:                  $secondary;
$modal:					#aaaaaa; 		// light gray

/** Box Model  */
$spacer:                1.7rem;

/** Bootstrap */
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);

$navbar-padding-x: 1rem;

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,500,700,800&display=swap');
$font-family-sans-serif: "Gothic A1", sans-serif;
$font-family-serif: "Gothic A1", sans-serif;