#conclusao {
	position: relative;
	top: -20px;
	background: white;
	background-image: url("../img/conclusao_foto.jpg");
	background-size: auto 100%;
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	h3 {
		margin-top: 50px;
		margin-bottom: 20px;
		color: $primary;
		font-weight: bold;
		font-size: 20px;
	}
	img {
		width: 100%;
		border: 0;
	}
	a {
		color: #d10a11;
		font-weight: 600;
	}
	.btn {
		width: 170px;
		line-height: 28px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
		background-color: #d00a11;
		color: white;
		text-transform: uppercase;
		font-size: 14px;
		transition: 0.5s;

		&:hover {
			opacity: 0.55;
		}
	}
}