.bg-footer {
	background: $dark;
	min-height: 155px;

	.footer-wrapper {
		width: 570px;
	}

	.link {
		color: white;
		font-weight: bold;
	}

	@media (max-width: 600px) {
		.footer-wrapper {
			width: auto;

			.link {
				margin: 10px 0px;

				&.no-bold {
					font-weight: normal;
				}
			}

			.mob-padding {
				margin: 0 0 15px 0; 
			}

			.link-green {
				color: $secondary;
				text-decoration: underline;
			}
		}
	}
}