.header-matricula {
  background-image: url("../img/header-matricula.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: -20px;
  padding-top: 34px;
  padding-bottom: 28px;

  h1 {
    color: white;
  }

  .steps-container {
    margin: auto;
    margin-top: 20px;
    width: 700px;

    .steps {
      display: flex;
      justify-content: space-between;

      .step-ok {
        color: #1dcf76;
      }

      p {
        color: white;
        opacity: 0.5;
        margin: 0;
        padding-bottom: 10px;

        &.active {
          opacity: 1;
          border-bottom: 1px solid white;
        }

        &.done {
          &:after {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: "Glyphicons Halflings";
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: "\e013";
            color: #1dcf76;
            margin-left: 5px;
          }
        }
      }
    }

    .line {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid #707070;
    }
  }
}

.header-mobile {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 0 30px;

  .steps {
    position: relative;
    width: 100%;
    opacity: .5;

    &.active {
      opacity: 1;
      .line {
        opacity: .5;
      }
    }

    &:last-child {
      width: 10px;
    }
  }
  .ball {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: white;

    &.actual-step {
      transform: scale(1.2);
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    top: 4px;

    &.actual-step {
      height: 3px;
    }
  }

  .step-number {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .header-matricula {
    background-image: none;
  }
  .bg-header-matricula {
    background-image: url("../img/header-matricula-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 481px) {
  #matricula .header-mobile {
    display: none;
  }
}
