header {
	.container-fluid {
		min-height: 84px;
	    align-items: center;
    	display: flex;

    	.container {
    		display: flex;
    		align-items: center;
    	}
	}

	.navbar {
		border-radius: 0;
		border: none;

		&.navbar-fit {
			margin-bottom: 0 !important;
		}

		.navbar-header {
			display: flex;
			justify-content: center;
			width: 100%;

			&.interno {
				width: auto;
			}

			.navbar-brand {
				height: auto;
			}
		}

		.icon-header {
			width: 20px;
			margin-right: 4px;
		}

		#login-admin {
			width: 100%;

			.navbar-nav {
				justify-content: center;
	    		align-items: center;
	    		display: flex;
	    		width: 100%;

	    		li {
					a {
						color: white !important;
						font-size: 14px;
						transition: 0.5s;
					}
					a:hover {
						color: $secondary !important;
					}
				}
			}
		}

		#perfil {
			.nav {
				display: flex;
			    justify-content: center;
			    align-items: center;

			    .dropdown-menu {
			    	border: none;
			    }
				
				.perfil {
					margin-left: 15px;
				}

			    .notifications {
			    	&:hover .numbers {
				    		background: $secondary;
				    	}

			    	a {
			    		padding-right: 10px;
			    		position: relative;

			    		img.notifications {
					    	height: 30px;
					    }

					    .numbers {
					    	position: absolute;
					    	height: 17px;
					    	width: 17px;
					    	background: $dark;
					    	color: white;
					    	border-radius: 10px;
					    	right: 3px;
					    	top: 9px;
					    	text-align: center;
					    	font-size: 11px;
					    	transition: 0.5s;
					    }
			    	}
			    }
			}
		}
	}

	@media (max-width: 768px) {
		.container-fluid {
			min-height: 55px;
	    	display: block;

	    	.container {
	    		display: block;
	    	}
		}
		.navbar {
			.navbar-header {
				justify-content: flex-start;

				.navbar-brand {
				    display: flex;
				    justify-content: center;
				    width: 100%;
				}
			}
			#login-admin {
				width: auto;

				.navbar-nav {
					width: auto;

					.arrow-right-perfil {
						transition: 0.5s;
						margin-left: 5px;
					}

					.open {
						a.dropdown-toggle {
							background-color: transparent;

							.arrow-right-perfil {
								transform: rotate(90deg);
							}
						}

					}

					.perfil-nav {
						padding: 0 0 10px 0;
						margin-bottom: 20px;
						list-style-type: none;
						display: flex;
						justify-content: center;
						border-bottom: 1px solid #ccc;

						li.dados-perfil,
						li.dados-endereco {
							margin: 0 10px 0 10px;

							&.active {
								font-weight: bold;
							}
						}
					}

					#dados-perfil {
						padding: 0 15px;

						h3 {
							margin-top: 0;
						}

						.row {
							margin-bottom: 10px;
						}

						.alterar-senha {
							background: white;
							color: $primary;
						}

						.change-pic {
							&:after {
								content: "Alterar foto";
								background: black;
								border-radius: 50px;
								position: absolute;
								bottom: 0px;
								width: 85px;
								text-align: center;
								font-size: 10px;
							}
						}
					}
				}
			}
		}

		.navbar-collapse {
			border: none;
			box-shadow: none;

			.notifications {
				height: 35px;
				position: relative;

				.numbers {
					position: absolute;
			    	height: 22px;
			    	width: 22px;
			    	background: $dark;
			    	color: white;
			    	border-radius: 10px;
			    	right: 5px;
    				top: 5px;
			    	text-align: center;
			    	font-size: 14px;
			    	transition: 0.5s;
			    	z-index: 1;
				}
			}
		}

		.navbar-toggle {
			border: none;

			&:hover,
			&:focus {
				background-color: transparent !important;

			}

			.icon-bar {
				background-color: white !important;
				width: 31px;
				height: 5px;
			}
		}

		#login-admin {
			.navbar-nav {
				display: block !important;
				margin-top: 0;
			}
		}

		#notificacoes-mobile {
			.notifications {
				margin: 0 0 20px 0;
				padding: 0;

				li {
					font-size: 12px;
					list-style-type: none;
					border-bottom: 1px solid #ccc;
					padding: 10px 0;

					a {
						color: white;
						text-decoration: underline;
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}