#lista-inscricoes,
#lista-documentos {
	max-height: 402px;
	min-height: 402px;
	overflow-y: hidden;
	position: relative;

	.red-line {
		position: relative;
		max-height: 402px;
		min-height: 402px;
		overflow-y: hidden;
		overflow-x: hidden;
		position: relative;
		padding-right: 17px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;

			/* Adjust the arrows and spacing on hover */
			&:hover {
				overflow-y: scroll;
			padding-right: 5px;

			.status {
				right: 18px !important;
			}

			.inscricoes-wrapper {
				padding-right: 13px;
			}

			li.active {
				&:after {
					right: -10px !important;
				}
			}
			}

			&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 0px rgba(0,0,0,0.15);
			border-radius: 10px;
			background-color: #f0f0f0;
		}

		.inscricoes-wrapper {
			padding-bottom: 50px;
			padding-right: 25px;

			.list-inscricaoes {
				margin: 0;
				padding: 0;

				&.padding-fit li {
					padding: 12px 0px 7px 0px;
				}

				li {
					padding: 22px 0px 15px 0px;
					position: relative;
					list-style-type: none;
					color: #919191;
					border-bottom: 1px solid #dfdfdf;
					border-right: 2px solid $primary;
					transition: 0.5s;
					cursor: pointer;

					&:last-child {
						border-bottom: none;
					}

					&:hover {
						background-color: #f0f0f0;
					}

					&.active {
						background-color: $primary;
						color: white;

						&:after {
							background: url('../img/arrow-red.svg') no-repeat;
							width: 20px;
							height: 20px;
							position: absolute;
							content: "";
							top: 50%;
							right: -10px;
						}
					}

					.text,
					h4, h3 {
						margin-bottom: 16px;
					}

					h4, h3 {
						font-weight: bold;
					}

					h4 {
						font-size: 16px;
					}

					.info {
						margin-bottom: 4px;
						font-size: 13px;
					}

					.status {
						position: absolute;
						right: 18px;

						img {
							margin-top: 0;
						}
					}
				}
			}
		}

		&::-webkit-scrollbar {
			width: 12px;
			background-color: #f0f0f0;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			box-shadow: inset 0 0 6px rgba(0,0,0,.15);
			background-color: #ddd;
		}
	}

	.arrow-function {
		width: 352px;
		height: 74px;
		position: absolute;
		background: url('../img/shadow.svg') repeat;
		bottom: 0;
		left: 15px;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border-radius: 5px;

			&.arrow-function-up {
				top: 0;
				bottom: initial;
				transform: rotate(180deg);
				display: none;

				img {
					margin-top: 25px;
					transition: padding-top .3s ease-out;
				}
			}

			&:hover img {
			padding-top: 10px;
				}
			}

			img {
				margin-top: 25px;
				transition: padding-top .3s ease-out;
			}
}

#info-inscricoes {
	max-height: 402px;
	overflow-y: hidden;
	position: relative;
	min-height: 402px;

	.info-details {
		min-height: 347px;
		max-height: 347px;
		padding-top: 20px;
		padding-bottom: 20px;
		overflow-y: hidden;
		overflow-x: hidden;
		padding-right: 12px;

		.status-text {
			padding: 10px;
			margin-left: 15px;
			margin-right: 15px;
			font-size: 15px;

			.link {
				color: $secondary;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&:hover {
			overflow-y: scroll;
			padding-right: 0px;

			&::-webkit-scrollbar {
				width: 12px;
				background-color: #f0f0f0;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0,0,0,.15);
				background-color: #ddd;
			}
		}

		h4, h3 {
			font-weight: bold;
			color: $primary;
		}

		.arrow-function {
			width: 352px;
			height: 74px;
			position: absolute;
			background: url('../img/shadow.svg') repeat;
			bottom: 0;
			left: 15px;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border-radius: 5px;

			&.arrow-function-up {
				top: 0;
				bottom: initial;
				transform: rotate(180deg);
				display: none;

				img {
					margin-top: 25px;
					transition: padding-top .3s ease-out;
				}
			}

			&:hover img {
				padding-top: 10px;
			}
		}

		h4 {
			font-size: 16px;
		}

		.hint {
			color: #aaa;
			width: 100%;
			font-weight: 100;
			font-size: 10px;
		}

		.data {
			font-size: 16px;
		}
	}

	.footer-actions {
		height: 55px;
		background: #f2f2f2;

		.btn {
				width: 100%;
				height: 55px;
				background: $secondary;
				border-radius: 0;
				color: white;
				text-transform: uppercase;
				font-size: 14px;
				padding-top: 18px;
				transition: 0.5s;

				&:hover {
					opacity: 0.55;
				}
		}

		ul {
			padding: 0;
			margin: 0;
			display: flex;
			height: 55px;
			justify-content: flex-end;
			align-items: center;

			li {
				list-style-type: none;
				margin-right: 46px;
			}
		}
		.link {
			color: $secondary;
			text-decoration: underline;
			transition: 0.3s;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 992px) {
	#lista-inscricoes,
	#lista-documentos {
		overflow-x: auto;
		overflow-y: auto;
		max-height: none;
		margin-bottom: 30px;

		.arrow-function {
			display: none;
		}

		.red-line {
			overflow-x: auto;
			overflow-y: auto;
			max-height: none;
			border-radius: 0;
			background: transparent !important;

			&:hover {
				overflow-y: auto;
				padding-right: 15px;
			}

			.inscricoes-wrapper {
				padding: 0 !important;

				.list-inscricaoes {
					li {
						border-right: none;
						border-bottom: none;
						background-color: white;
						margin-bottom: 30px;
						border-radius: 5px;
						text-align: left;

						&.active {
							background-color: white !important;
							color: #919191;

							&:after {
								display: none;
							}
						}

						.status {
							display: none;
						}

						.mobile-status {
							margin-top: 0px;
							margin-bottom: 15px;
						}

						.open-box-mobile {
							position: absolute;
							background: url('../img/arrow-down-mobile.svg');
							height: 28px;
							width: 28px;
							right: 10px;
							top: 10px;
							transition: all 0.5s;
							transform-origin: center center;
						}

						.open-box-mobile.active {
							transform: rotate(90deg);
						}

						.mobile-info {
							.container-fluid {
								padding: 0;
							}
							.info-details {
								padding: 20px 0;

								.status-text {
									padding: 10px;
									font-size: 13px;
									margin: 0 15px;

									.link {
										color: $secondary;
										text-decoration: underline;

										&:hover {
											text-decoration: none;
										}
									}
								}

								h4, h3 {
									font-weight: bold;
									color: $primary;
								}

								h4 {
									font-size: 16px;
								}

								.hint {
									color: #aaa;
									font-weight: 100;
									font-size: 13px;
								}

								.data {
									font-size: 13px;
									font-weight: 600;
								}
							}
							.footer-actions {
								height: 55px;
								background: #f2f2f2;
								margin-left: -15px;
								margin-right: -15px;
								margin-bottom: -15px;
								border-bottom-left-radius: 5px;
								border-bottom-right-radius: 5px;
								.btn {
									width: 100%;
									height: 55px;
									background: $secondary;
									border-radius: 0;
									color: white;
									text-transform: uppercase;
									font-size: 14px;
									padding-top: 18px;
									transition: 0.5s;
									border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
								}

								ul {
									padding: 0;
									margin: 0;
									display: flex;
									height: 53px;
									justify-content: center;
									align-items: center;

									li {
										list-style-type: none;
										background-color: transparent;
										margin: 0 5px;
										text-align: center;
									}
								}
								.link {
									color: $secondary;
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}

		#info-inscricoes {
			display: none;
		}
	}
}

#inscricoes {
	background: url('../img/bg-area-logada.png') no-repeat center center;
	min-height: 550px;

	h2 {
		font-weight: 700;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	@media (max-width: 992px) {
		& {
			background: url('../img/bg-area-logada.png') repeat center center;
			background-size: 2000%;
		}
	}
}