/* Begin Página de Login */

#area-candidato {
	background: url('../img/bg-login.png');
	margin-top: -20px;
	min-height: 630px;
	padding-top: 60px;

	h2 {
		font-weight: 700;
	}
	.text-bem-vindo {
		font-size: 16px;
		width: 570px;
		margin: 60px auto;

		.form-wrapper {
			margin-top: 44px;	
		}
	}

	.link {
		font-size: 13px;
		text-decoration: underline;
		color: $secondary;
	}

	.link:hover {
		text-decoration: none;
	}

	.facebook {
		background: #3b5998;
		transition: 0.5s;
		min-height: 40px;
	}

	.facebook:hover {
		opacity: 0.7;
	}

	.google {
		background: #bf4c3c;
		transition: 0.5s;
		min-height: 40px;
	}

	.google:hover {
		opacity: 0.7;
	}

	.btn {
		transition: 0.5s;
	}

	@media (max-width: 600px) {
		.text-bem-vindo {
			width: auto;
		}
	}
}

/* End Página de Login */