#matricula,
.matricula-contrato,
.matricula-pagamento,
.matricula-documento {
  .header-matricula {
    background-image: url("../img/bg-matricula.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-size: cover;
    padding-top: 34px;
    padding-bottom: 28px;

    h1 {
      color: white;
    }

    .box {
      margin-bottom: 40px;
      padding: 20px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    .steps-container {
      margin: auto;
      margin-top: 20px;
      width: 700px;

      .steps {
        display: flex;
        justify-content: space-between;

        .step-ok {
          color: #1dcf76;
        }

        p {
          color: white;
          opacity: 0.5;
          margin: 0;
          padding-bottom: 10px;

          &.active {
            opacity: 1;
            border-bottom: 1px solid white;
          }
        }
      }

      .line {
        height: 1px;
        width: 100%;
        border-bottom: 1px solid #707070;
      }
    }

    .info-details {
      max-height: initial !important;
    }
  }

  .header-mobile {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;

    .steps {
      position: relative;
      width: 100%;

      &:last-child {
        width: 10px;
      }
    }

    .ball {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: white;
    }

    .line {
      width: 100%;
      height: 1px;
      background: white;
      position: absolute;
      top: 4px;
    }
  }

  .dados-complementares {
    background: white;
    min-height: 510px;

    .container {
      margin: auto;
      width: 100%;
      max-width: 800px;
      padding-top: 25px;

      .radio-razao-social {
        padding: 25px 0;
      }

      /* The radio */
      .styled-radio {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
      }

      /* Hide the browser's default radio button */
      .styled-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      /* Create a custom radio button */
      .checkround {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-color: $primary;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
      }

      /* When the radio button is checked, add a blue background */
      .styled-radio input:checked ~ .checkround {
        background-color: #fff;
      }

      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkround:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the indicator (dot/circle) when checked */
      .styled-radio input:checked ~ .checkround:after {
        display: block;
      }

      /* Style the indicator (dot/circle) */
      .styled-radio .checkround:after {
        left: 2px;
        top: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $primary;
      }

      h2 {
        font-size: 20px;
        color: $primary;
      }

      form {
        /* The radio */
        .styled-radio {
          position: relative;
          padding-left: 30px;
          margin-bottom: 12px;
          cursor: pointer;
          user-select: none;
        }

        /* Hide the browser's default radio button */
        .styled-radio input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        /* Create a custom radio button */
        .checkround {
          position: absolute;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border-color: #f8204f;
          border-style: solid;
          border-width: 2px;
          border-radius: 50%;
        }

        /* When the radio button is checked, add a blue background */
        .styled-radio input:checked ~ .checkround {
          background-color: #fff;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkround:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .styled-radio input:checked ~ .checkround:after {
          display: block;
        }

        /* Style the indicator (dot/circle) */
        .styled-radio .checkround:after {
          left: 2px;
          top: 2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #f8204f;
        }

        .tipo-documento {
          font-size: 14px;
          color: #707070;
          margin-left: 5px;
          margin-right: 150px;
        }

        .field {
          input {
            color: black;
          }
          select {
            width: 100%;
            line-height: 40px;
            padding: 0 15px;
            box-sizing: border-box;
            font-size: 14px;
            appearance: none;
            border: none;
            border-bottom: 1px solid #ccc;
            background: none;
            border-radius: 0;
            position: relative;
            color: black;
          }

          .estado {
            width: 35%;
          }

          label::before {
            color: #535353;
          }

          span {
            font-size: 10px;
            color: #707070;
            text-align: center;
            margin: auto;
          }

          &.telefone {
            width: 20%;
            margin-right: 20px;
          }

          &.complemento {
            width: 80%;
          }
        }
        .responsavel-financeiro {
          margin-bottom: 15px;

          .text-responsavel-financeiro {
            font-size: 15px;
            color: #535353;
            font-weight: bold;
          }
          .span-responsavel-financeiro {
            margin-right: 70px;
          }
        }
      }
    }
  }
}

h3.conditions {
  font-size: 20px;
}

.box-img {
  background: #f1f1f1;
  height: 190px;
  border-radius: 4px;
  border: solid 1px #c4c4c4;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 16px;

  img {
    margin: 0 auto;
    width: 73.6px;
    height: 58.9px;
    margin-top: 0 !important;
  }

  & + .btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .steps-container {
    display: none;
  }

  .radio-razao-social {
    display: flex;
  }

  #matricula .dados-complementares .container form .tipo-documento {
    margin-right: 50px;
  }

  #matricula .dados-complementares .container form .field .estado {
    width: 100%;
  }
}
