.matricula-contrato {
  background: #f3f3f3;

  .title {
    margin-top: 55px;
    margin-bottom: 10px;

    & + p {
      margin-bottom: 20px;
    }
  }

  .box {
    width: 100%;
    background: white;
    padding: 15px;
    border-radius: 5px;
    color: #cacaca;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}
