.matricula-pagamento {
  background: #f3f3f3;

  .single-box {
    position: relative;
    &.offtag {
      &:after {
        background-image: url(../img/offtag.svg);
        height: 28px;
        width: 28px;
        position: absolute;
        top: 31px;
        left: 1px;
        content: " ";
      }
    }
  }

  .text-sem-taxa {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 42px;
  }

  .formas-pagamento {
    .btn-cartao {
      width: 111px;
      height: 62px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      margin-right: 20px;
      background-color: transparent;
      transition: 0.5s;

      &:hover,
      &.selected {
        outline: none;
        border: 1px solid $primary;
      }
    }
    .iframe-pagamento {
      .iframe {
        border-radius: 5px;
        width: 100%;
        height: 433px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .pgto-boxes {
    margin: 20px 0;
    display: flex;
    & > div {
      flex: auto;
      margin: 0 5px;
      background: white;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      max-width: 115px;
      min-width: 115px;
    }
    .tip {
      position: relative;
      line-height: 32px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: white;
      margin-bottom: 5px;
      background-image: url("../img/background-precos.svg");
      background-size: 135px;
      background-position: center -34px;
      padding-bottom: 10px;
    }

    .old-price {
      text-align: right;
      font-size: 12px;
      font-weight: bold;
      text-decoration: line-through;
      padding-right: 5px;
      color: #aaa;
    }
    .price {
      padding: 0 0 5px 0;
      font-weight: bold;
      color: #6e6e6e;
      text-align: center;
      small {
        font-size: 11px;
      }
      span {
        font-size: 42px;
        letter-spacing: -2px;
      }
    }
    .info {
      padding: 0 0 10px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #38c95f;
    }
  }

  .red {
    color: $primary;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
  }

  .price-old {
    color: #a0a0a0;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
  }

  .price-new {
    color: $secondary;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
  }

  .btn-pagamento {
    border: 1px solid $primary;
    background-color: transparent;
    display: block;
    width: 100%;
    min-height: 62px;
    color: $primary;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    background-repeat: no-repeat;

    &.cartao {
      background-image: url("../img/icon-cartao-de-credito.svg");
      background-position: 75px center;
    }

    &.boleto {
      background-image: url("../img/icon-boleto.svg");
      background-position: 115px center;
    }

    &:hover,
    &.selected {
      background-color: $primary;
      color: white;

      &.cartao {
        background-image: url("../img/icon-cartao-de-credito-white.svg");
      }

      &.boleto {
        background-image: url("../img/icon-boleto-white.svg");
      }
    }

    img {
      margin-right: 10px;
    }
  }

  .item {
    color: $secondary;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    background: white;
    padding: 17px;
    font-weight: bold;
    font-size: 31px;

    .text {
      font-size: 22px;
      min-height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
    .percent {
      font-size: 45px;
      margin-right: 10px;
    }

    .off {
      text-transform: uppercase;
      font-size: 17px;
      width: 100%;
      display: block;
    }

    .second-text {
      font-size: 11px;
      width: 100%;
      text-transform: uppercase;
      display: block;
    }
  }
  @mixin box-desconto {
    background: white;
    max-width: 292px;
    max-height: 200px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .boleto {
      text-align: right;
    }
    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondary;

      .coin {
        font-size: 32px;
        margin-right: 2px;
      }

      .value {
        font-size: 84px;
        margin-bottom: auto;
      }
    }
  }

  &.sem-desconto {
    .sem-desconto-box {
      @include box-desconto;
    }
  }

  &.com-desconto {
    .tag {
      display: flex;
      justify-content: right;
      align-items: center;

      .off-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .off {
          font-size: 34px;
          color: #bdbdbd;
          margin-right: 40px;
        }
      }

      .porcentagem {
        background: $secondary;
        max-width: 404px;
        max-height: 154px;
        padding: 30px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-condicoes {
          max-width: 154px;
        }
        .number-porcent {
          .number {
            width: 164px;
            font-size: 74px;
            font-weight: 600;
            height: 84px;
          }
          .desconto {
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            width: 100%;
            display: block;
          }
        }
      }
      .com-desconto-box {
        @include box-desconto;
        position: relative;

        &:after {
          position: absolute;
          content: " ";
          background: $secondary url("../img/tag-off-matricula.svg") no-repeat
            center center;
          width: 42px;
          height: 154px;
          top: 23px;
          right: -42px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
  .outras-opcoes {
    width: 100%;

    .list-opcoes {
      padding: 0;
      margin: 0;
      display: flex;
      overflow-x: auto;

      .opcoes-box {
        padding: 20px 12px;
        list-style-type: none;
        background: white;
        border-radius: 10px;
        border: 1px solid $secondary;
        margin-right: 10px;
        min-width: 178px;
        cursor: pointer;
        transition: 0.3s;
        min-width: 168px;

        .info-box-wrapper {
          .t-label {
            color: #aaa;
            font-size: 10px;
            transition: 0.3s;
          }
          .info-box-text {
            font-size: 16px;
          }

          &:last-child .info-box-text {
            margin-bottom: 0px;
          }
        }
        &.selected,
        &:hover {
          background: $secondary;
          color: white;
          .t-label {
            color: white;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .btn-pagamento {
      &.cartao {
        background-position: 40px center;
      }
      &.boleto {
        background-position: 80px center;
      }
    }
  }

  @media (max-width: 840px) {
    .value {
      margin-bottom: 20px;
    }

    .pgto-boxes {
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;

      .single-box {
        margin-bottom: 20px;
      }
    }

    .btn-pagamento {
      &.boleto,
      &.cartao {
        background: none;
        font-size: 14px;

        &.selected,
        &:hover {
          background-image: none;
          background-color: $primary;
          color: white;
        }
      }
    }

    &.sem-desconto {
      .red {
        margin-left: 0;
      }
      .col-xs-6 {
        padding: 3px;
      }
    }

    &.com-desconto {
      .tag {
        display: block;
        margin-bottom: 45px;

        .porcentagem {
          border-top-right-radius: 5px;
          border-bottom-left-radius: 0;
          display: block;
          max-height: 200px;
          max-width: 100%;

          .number-porcent {
            width: 100%;
            text-align: center;

            .desconto {
              font-size: 17px;
            }

            .number {
              font-size: 63px;
              width: 100%;
            }
          }

          .text-condicoes {
            max-width: 120px;
            margin: 0 auto;
          }
        }

        .com-desconto-box {
          border-radius: 0;
          max-width: initial;

          &:after {
            top: auto;
            bottom: -157px;
            z-index: 0;
            right: 128px;
            height: 270px;
            transform: rotate(90deg);
          }
        }
      }
    }

    .formas-pagamento {
      padding: 0;
    }
  }
}
