/* Begin Modal Disponível em todas as páginas */

.modal {
  text-align: center;

  .modal-title {
    font-size: 13px;
    font-weight: bold;
    color: #333;
  }

  .modal-body {
    color: $modal;

    p {
      font-size: 15px;
    }

    .btn {
      background: none;
      color: $secondary;
      font-weight: bold;
    }

    .table-modal {
      max-width: 330px;

      img {
        margin-top: 10px;
      }

      td {
        padding-right: 10px;
        vertical-align: text-top;
      }
    }

    .cancel {
      color: #aaa;
    }

    &.alterar-foto {
      width: 306px;
      min-height: 210px;

      .ajuste-foto {
        tr {
          td {
            padding: 10px;
            vertical-align: baseline;

            a:link,
            a:visited {
              color: #aaa;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &.anexar-documentos {
    .modal-body {
      min-height: 210px;

      .ajuste-foto {
        tr {
          td {
            padding: 10px;
            vertical-align: baseline;

            a:link,
            a:visited {
              color: #aaa;
              text-decoration: none;
            }
          }
        }
      }
    }

    .title {
      background: $primary !important;

      .close {
        color: white;
      }

      .modal-title {
        color: white !important;
      }
    }
  }

  .field {
    input {
      color: $modal;
    }

    label {
      color: $modal;

      &::before {
        color: $modal;
      }
    }
  }

  .modal-header {
    background: #efefef;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: auto;
  }

  &#opcoes {
    .modal-title {
      font-size: 12px;
      color: black;
    }
    .modal-body {
      .item {
        margin: 20px 0;

        .percent {
          color: $secondary;
          font-size: 28px;
          font-weight: bold;
        }
        .off {
          display: block;
          width: 100%;
          text-transform: uppercase;
          color: $secondary;
          font-size: 14px;
          font-weight: bold;
        }
        .second-text {
          font-size: 10px;
          color: $secondary;
          text-transform: uppercase;
        }
      }
      p {
        color: black;
        font-size: 16px;
      }

      .selecione {
        display: block;
        font-size: 10px;
        text-align: center;
        color: #aaa;
      }

      .semestre {
        font-weight: bold;
      }
    }
  }
}

.modal-backdrop {
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: auto !important;
  }

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media (max-width: 600px) {
  .modal {
    top: 120px !important;
  }
}

/* Finish Modal Disponível em todas as páginas */
