#pagamento {
  background: #efefef;
  height: 100vh;

  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .pagamento-box {
    padding: 126px 71px;
    border: solid 0.5px rgba(112, 112, 112, 0.5);
    background-color: #ffffff;

    .checkout-icon-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 27px;
    }

    .msg-box {
      margin: auto;
      text-align: center;
      border-radius: 5px;

      &.red-box {
        background: #ae0018;
        padding: 19px 55px;
      }

      &.green-box {
        background: #3a9e52;
        padding: 42px 55px;
      }

      .text {
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.67;
        letter-spacing: 0.3px;
        font-family: $font-family-sans-serif;
      }
    }
  }
}
