.popover {
    .arrow {
        position: absolute;
        width: 22px;
        height: 11px;
        margin-left: 40px !important;
    }

    .container-fluid {
        min-height: auto;
    }
    .title {
        font-size: 10px;
        color: #6e6e6e;
        width: 320px;
    }

    .notifications {
        margin: 0;
        padding: 0;

        li {
            color: #636363;
            font-size: 12px;
            list-style-type: none;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
    .link {
        color: $secondary;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    #dados-endereco {
        display: none;
    }

    .popover-content {
        .perfil-nav {
            padding: 0;
            margin: 0 0 15px 0;
            display: flex;
            color: #aaa;
            justify-content: left;
            align-items: center;
            width: 348px;
    
            li {
                list-style-type: none;
                margin: 0 15px 0 0;
                font-size: 10px;
                cursor: pointer;

                &.active,
                &:hover {
                    color: #6e6e6e;
                }
            }
        }
        #dados-perfil {
            color: #6e6e6e;
    
            label {
                width: 100%;
                color: #aaa;
                font-size: 10px;
            }
    
            h3 {
                font-size: 16px;
                color: $primary;
                font-weight: bold;
            }
    
            h3,
            .email,
            .nacionalidade {
                margin-left: -10px;
            }
    
            .row {
                margin-bottom: 20px;
            }
    
            p {
                font-size: 12px;
                margin-bottom: 5px;
            }

            .data {
                color: #6e6e6e;           
            }

            .alterar-senha {
                background: $primary;
                color: white;
                transition: 0.55s;

                &:hover {
                    opacity: 0.5;
                }
            }

            .change-pic {
                position: relative;

                &:hover {
                    transition: 0.5s;
                    cursor: pointer;

                    &:before {
                        content: " ";
                        position: absolute;
                        width: 84px;
                        height: 84px;
                        background: #000;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        border-radius: 60px;
                        opacity: 0.5;
                    }

                    &:after {
                        content: " ";
                        background: url(../img/alterar-foto.svg);
                        width: 46px;
                        height: 34px;
                        position: absolute;
                        top: 24px;
                        left: 18px;
                        z-index: 4;
                    }
                }
            }
        }
    }

    &.popover2 {
        max-width: 400px !important;
        margin-left: -155px !important;

        .arrow {
            margin-left: 143px !important;
        }
    }
}

.popover.bs-popover-right {
    margin-left: -50px;
}

.perfil {
    a {
        padding: 5px !important;
    }
}