#pagamento-sucesso {
  background: #efefef;
  height: 100vh;

  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .pagamento-box {
    width: 100%;
    height: 599.5px;
    padding-top: 95px;
    border: solid 0.5px rgba(112, 112, 112, 0.5);
    background-color: #ffffff;

    .checkout-icon-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 27px;

      img {
          width: 100%;
      }
    }

    .green-box {
      background: #3a9e52;
      width: 477px;
      height: 167px;
      margin: auto;
      padding: 42px 55px;
      text-align: center;
      border-radius: 5px;

      .text {
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.67;
        letter-spacing: 0.3px;
      }
    }
  }
}
