<section class="container-fluid bg-footer">
	<div class="container footer-wrapper">
		<div class="row m-top text-center m-top ">
			<div class="col-md-4 pr-0 pl-0 mob-padding">
				<a class="link" href="#">
					PORTAL LAUREATE
				</a>
			</div>
			<div class="col-md-4 mob-padding">
				<a class="link" href="#">
					ATENDIMENTO
				</a>
			</div>
			<div class="col-md-4 pr-0 pl-0 mob-padding">
				<a class="link" href="#">
					PERGUNTAS FREQUENTES
				</a>
			</div>
		</div>
		<div class="row text-center m-top mob-padding">
			<a class="link no-bold" tel="11313230000" href="#">
				DÚVIDAS? LIGUE: (11) 3132 3000
			</a>
		</div>

		<div class="row text-center m-top mob-padding visible-xs">
			<a class="link-green no-bold" href="#">
				Login colaborador
			</a>
		</div>
	</div>
</section>