<!-- Header Interno -->

<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid bg-primary">
			<div class="container">
				<!-- BRAND -->
				<div class="navbar-header interno">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-admin" aria-expanded="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img src=@@webRoot/img/fmu-logotipo.svg alt="FMU" title="FMU" />
					</a>

					<!-- Only on mobile -->
					<div class="collapse navbar-collapse visible-xs" role="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#notificacoes-mobile" aria-expanded="false">
						<ul class="nav navbar-nav">
							<li class="dropdown notifications visible-xs" >
								<a href="#">
									<span class="numbers">3</span>
									<img class="notifications" src=@@webRoot/img/notification.svg alt="notifications alert" title="notifications alert"/>
								</a>
							</li>
						</ul>
					</div>
				</div>



				<!-- COLLAPSIBLE NAVBAR -->
				<div class="collapse" id="notificacoes-mobile">
					<!-- Links -->
					<div aria-labelledby="notificacoes-mobile">
						@@include('./notifications.html')
					</div>
				</div>
				<div class="collapse navbar-collapse" id="login-admin">
					<!-- Links -->
					<ul class="nav navbar-nav">
						<!-- Only on mobile -->
						<li class="dropdown visible-xs">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="icon-header" src=@@webRoot/img/icon-meu-perfil.svg /> Meu Perfil <span class="glyphicon glyphicon-chevron-right arrow-right-perfil" aria-hidden="true"></span></a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfil">
								@@include('./perfil.html')
							</div>
						</li>
						<li><a href="#"><img class="icon-header" src=@@webRoot/img/icon-nova-inscricao.svg /> Nova Inscrição</a></li>
						<li><a href="#"><img class="icon-header" src=@@webRoot/img/icon-minhas-inscricoes.svg />Minhas Inscrições</a></li>
						<li><a href="#"><img class="icon-header" src=@@webRoot/img/icon-minhas-matriculas.svg />Minhas Matrículas</a></li>
					</ul>
				</div>

				<div class="collapse navbar-collapse" id="perfil">
					<ul class="nav navbar-nav">
						<li class="notifications">
							<a href="javascript:void(0)" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" onclick="clearPopovers(false,this)" data-content='@@include("./notifications.html")' ><span class="numbers">3</span><img class="notifications" src=@@webRoot/img/notification.svg alt="notifications alert" title="notifications alert"/></a></li>
						<li class="perfil">
							<a href="javascript:void(0)" onclick="clearPopovers(false,this)" data-placement="bottom" role="button" data-content='@@include("./perfil.html")' data-toggle="popover2" role="button"><img src=@@webRoot/img/perfil-thumb.png alt="Imagem perfil" title="Imagem perfil" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>