<!-- Header Login -->

<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid bg-primary">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src=@@webRoot/img/fmu-logotipo.svg alt="FMU" title="FMU" />
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>