<div class="bg-header-matricula">
  <div class="header-matricula">
    <h1>Matrícula</h1>
    <div class="steps-container">
      <div class="steps">
        <!-- Acrescentar as classes active quando for step atual e done quando concluído-->
        <p class="active done">INÍCIO</p>
        <p class="active">DADOS</p>
        <p>CONTRATO</p>
        <p>DOCUMENTOS</p>
        <p>CONCLUSÃO</p>
      </div>
      <div class="line"></div>
    </div>
  </div>
  <div>
    <div class="header-mobile">
      <div class="steps active">
        <div class="d-flex">
          <div class="ball actual-step"></div>
          <div class="line actual-step"></div>
        </div>
        <div class="step-number"><p>1</p></div>
      </div>
      <div class="steps">
        <div class="d-flex">
          <div class="ball"></div>
          <div class="line"></div>
        </div>
        <div class="step-number"><p>2</p></div>
      </div>
      <div class="steps">
        <div class="d-flex">
          <div class="ball"></div>
          <div class="line"></div>
        </div>
        <div class="step-number"><p>3</p></div>
      </div>
      <div class="steps">
        <div class="d-flex">
          <div class="ball"></div>
          <div class="line"></div>
        </div>
        <div class="step-number"><p>4</p></div>
      </div>
      <div class="steps">
        <div class="">
          <div class="ball"></div>
        </div>
        <div class="step-number"><p>5</p></div>
      </div>
    </div>
  </div>
</div>
