<div class="col-md-4 bg-white red-line no-padding">
  <div class="inscricoes-wrapper">
    <ul class="list-inscricaoes">
      <li class="ausente">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-ausente.svg alt="Ausente na Avaliação" title="Ausente na Avaliação"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
          <h4>Gestão Ambiental</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/icon-ausente-mobile.svg alt="Ausente na Avaliação" title="Ausente na Avaliação"/>
          </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="active taxa">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-taxa-white.svg alt="Taxa de Inscrição Pendente" title="Taxa de Inscrição Pendente"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
          <h4>Gestão Ambiental</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/icon-taxa-mobile.svg alt="Taxa de Inscrição Pendente" title="Taxa de Inscrição Pendente"/>
          </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="inscrito">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-inscrito.svg alt="Inscrito" title="Inscrito"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
          <h4>Gestão Ambiental</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/icon-inscrito-mobile.svg alt="Inscrito" title="Inscrito"/>
          </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="matriculado">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-matriculado.svg alt="Matriculado" title="Matriculado"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
            <h4>Gestão Ambiental</h4>
            <div class="visible-xs-block">
              <img class="mobile-status" src=@@webRoot/img/icon-matriculado-mobile.svg alt="Matriculado" title="Matriculado"/>
            </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>
          
          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="reprovado">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-reprovado.svg alt="Reprovado" title="Reprovado"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
            <h4>Gestão Ambiental</h4>
            <div class="visible-xs-block">
              <img class="mobile-status" src=@@webRoot/img/icon-reprovado-mobile.svg alt="Reprovado" title="Reprovado"/>
            </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="aprovado">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-aprovado.svg alt="Aprovado" title="Aprovado"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
            <h4>Gestão Ambiental</h4>
            <div class="visible-xs-block">
              <img class="mobile-status" src=@@webRoot/img/icon-aprovado-mobile.svg alt="Aprovado" title="Aprovado"/>
            </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="aguardando">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/icon-aguardando.svg alt="Aguardando Pagamento de Matrícula" title="Aguardando Pagamento de Matrícula"/>
        </span>
        <div class="container-fluid">
          <p class="text">
            Inscrição 216164
          </p>
        </div>
        <div class="container-fluid">
            <h4>Gestão Ambiental</h4>
            <div class="visible-xs-block">
              <img class="mobile-status" src=@@webRoot/img/icon-aguardando-mobile.svg alt="Aguardando Pagamento de Matrícula" title="Aguardando Pagamento de Matrícula"/>
            </div>
        </div>
        <div class="container-fluid">
          <p class="info">
            Data de inscrição: <b>12/06/2019</b>
          </p>
          <p class="info">
            Forma de Entrada: <b>ENEM</b>
          </p>
          <p class="info">
            Forma de estudo: <b>EAD (Ensino à distância)</b>
          </p>

          <div class="mobile-info"></div>
        </div>
      </li>
    </ul>
  </div>
</div>