<div class="actions">
  <div class="col-md-offset-6 col-md-6">
    <div class="col-xs-6">
      <a href="#" class="btn btn-dark">
        ANTERIOR
      </a>
    </div>
    <div class="col-xs-6">
      <a href="#" class="btn btn-primary">
        PRÓXIMO
      </a>
    </div>
  </div>
</div>
