<div class="col-md-4 bg-white red-line no-padding">
  <div class="inscricoes-wrapper">
    <ul class="list-inscricaoes padding-fit">
      <li class="active cpf">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/aprovado-white.svg width="50" alt="" title=""/>
        </span>
        <div class="container-fluid">
          <h4>CPF</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/aprovado.svg alt="" width="50" title=""/>
          </div>
        </div>
        <div class="container-fluid">
          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="curriculo">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/reprovado.svg alt="" title="" width="50"/>
        </span>
        <div class="container-fluid">
          <h4>CURRÍCULO</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/reprovado.svg alt="" title="" width="50"/>
          </div>
        </div>
        <div class="container-fluid">
          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="historico-escolar">
        <span class="open-box-mobile"></span>
        <span class="status">
            <img src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
        </span>
        <div class="container-fluid">
          <h4>HISTÓRICO ESCOLAR</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
          </div>
        </div>
        <div class="container-fluid">
          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="rg">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
        </span>
        <div class="container-fluid">
          <h4>RG</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
          </div>
        </div>
        <div class="container-fluid">
          <div class="mobile-info"></div>
        </div>
      </li>
      <li class="comprovante-residencia">
        <span class="open-box-mobile"></span>
        <span class="status">
          <img src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
        </span>
        <div class="container-fluid">
          <h4>COMPROVANTE DE RESIDÊNCIA</h4>
          <div class="visible-xs-block">
            <img class="mobile-status" src=@@webRoot/img/analise.svg alt="" title="" width="50"/>
          </div>
        </div>
        <div class="container-fluid">
          <div class="mobile-info"></div>
        </div>
      </li>
    </ul>
  </div>
</div>