<!-- Modal Tela 1 -- Alteração de foto -->
<div class="modal fade " id="alterar-foto" tabindex="-1" role="dialog" aria-labelledby="alterar-foto" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Alterar foto</h4>
      </div>
      <div class="modal-body alterar-foto">
        <p class="text-center">Ajustar foto</p>
        <div class="ajuste-foto text-center">
            <img src=@@webRoot/img/ajuste-foto.png />
        </div>
        <div class="text-right m-top-10">
            <button type="button" class="btn text-left pull-left cancel" data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn text-right" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>