<!-- Modal Tela 2 -- Redefinição de Senha -->
<div class="modal fade " id="password-recover" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Recuperar Senha</h4>
      </div>
      <div class="modal-body">
        <table class="table-modal">
          <tr>
            <td>
              <img src=@@webRoot/img/ok.svg title="ok" alt="ok">
            </td>
            <td>
              <p>O código foi enviado ao e-mail informado. Digite-o abaixo e escolha sua nova senha (cheque sua caixa de spam):</p>
            </td>
          </tr>
        </table>
        <div class="field">
          <input type="text" required autocomplete="off" id="email-recover" value="">
          <label for="email-recover" title="Código" data-title="Código"></label>
        </div>
        <div class="field">
          <input type="password" required autocomplete="off" id="email-nova-senha" value="">
          <label for="email-nova-senha" title="Nova Senha" data-title="Nova Senha"></label>
        </div>
        <div class="field">
          <input type="password" required autocomplete="off" id="email-confirme-senha" value="">
          <label for="email-confirme-senha" title="Confirme a nova senha" data-title="Confirme a nova senha"></label>
        </div>
        <div class="text-right">
          <button type="button" class="btn text-right" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>