<!-- Modal Tela 1 -- E-mail de Recuperação -->
<div class="modal fade " id="password-recover" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Alterar Senha</h4>
      </div>
      <div class="modal-body">
        <p>Para alterar a sua senha digite a sua senha atual abaixo:</p>
        <div class="field">
          <input type="text" required autocomplete="off" id="email-recover" value="">
          <label for="email-recover" title="E-mail Atual" data-title="E-mail Atual"></label>
        </div>
        <div class="field">
            <input type="text" required autocomplete="off" id="email-recover2" value="">
            <label for="email-recover2" title="Nova Senha" data-title="Nova Senha"></label>
        </div>
        <div class="field">
            <input type="text" required autocomplete="off" id="email-recover3" value="">
            <label for="email-recover3" title="Confirme a nova senha" data-title="Confirme a nova senha"></label>
        </div>
        <div class="text-right">
            <button type="button" class="btn text-left pull-left cancel" data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn text-right" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>