<!-- Modal -- Outras Opções -->
<div
  class="modal fade "
  id="opcoes"
  tabindex="-1"
  role="dialog"
  aria-labelledby="opcoes"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Descontos</h4>
      </div>
      <div class="modal-body">
        <p class="isencao">Isenção de taxa de matrícula</p>
        <div class="col-md-12 mb-30">
          <div class="item">
            <div class="desconto">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <span class="percent">40%</span>
                    </td>
                    <td>
                      <span class="off">de desconto</span>
                      <span class="second-text">nas mensalidades</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <span class="semestre">2º SEMESTRE AO 5º SEMESTRE</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="item">
            <div class="desconto">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <span class="percent">40%</span>
                    </td>
                    <td>
                      <span class="off">de desconto</span>
                      <span class="second-text">nas mensalidades</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <span class="semestre">2º SEMESTRE AO 5º SEMESTRE</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p class="selecione">Selecione o curso para mais informações</p>
        <div class="text-right">
          <button type="button" class="btn text-right" data-dismiss="modal">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
