<!-- Modal Tela 3 -- Sucesso -->
<div class="modal fade " id="password-recover" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Recuperar Senha</h4>
      </div>
      <div class="modal-body">
        <table class="table-modal pt-25">
          <tr>
            <td>
              <img class="mt-0" src=@@webRoot/img/ok.svg title="ok" alt="ok">
            </td>
            <td>
              <p>Sua senha foi redefinida.</p>
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button type="button" class="btn text-right" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>