<!-- Modal Tela 2 -- Alteração de foto Selecionar arquivo -->
<div class="modal fade anexar-documentos" id="anexar-documentos" tabindex="-1" role="dialog" aria-labelledby="anexar-documentos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header title">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Alterar foto</h4>
      </div>
      <div class="modal-body anexar-documentos">
        <p class="text-center ">Anexar arquivo</p>
        <div class="ajuste-foto text-center">
            <table>
                <tr>
                    <td>
                        <a href="#">
                            <img src=@@webRoot/img/icon-selecionar-aquivo.svg alt="Selecionar Arquivo" title="Selecionar Arquivo" />
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <p>Selecionar arquivo</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            <img src=@@webRoot/img/icon-camera.svg alt="Usar a câmera" title="Usar a câmera" />
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <p>Selecionar arquivo</p>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-right m-top-10">
            <button type="button" class="btn text-left pull-left cancel" data-dismiss="modal">CANCELAR</button>
        </div>
      </div>
    </div>
  </div>
</div>