<!-- Modal Tela 1 -- E-mail de Recuperação -->
<div class="modal fade " id="password-recover" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Recuperar Senha</h4>
      </div>
      <div class="modal-body">
        <p>Você receberá um código por e-mail para redefinir sua senha.</p>
        <p>Confirme seu e-mail:</p>
        <div class="field">
          <input type="text" required autocomplete="off" id="email-recover" value="">
          <label for="email-recover" title="E-mail" data-title="E-mail"></label>
        </div>
        <div class="text-right">
          <button type="button" class="btn text-right" data-dismiss="modal">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
