<p class="title">Notificações</p>
<ul class="notifications">
    <li>
        Exemplo sem link. Lorem ipsum dolor sit amet, consectetuer.
    </li>
    <li>
        <a class="link" href="#">
            Exemplo com link.Lorem ipsum dolor sit amet, consectetuer 
            adipiscing elit, sed diam nonummy nibh euismod 
            tincidunt ut laoreet dolore magna aliquam erat 
            volutpat. Ut wisi 
        </a>
    </li>
    <li>
        <a class="link" href="#">Lorem ipsum dolor sit amet, consectetuer.</a>
    </li>
</ul>