<ul class="perfil-nav">
    <li class="dados-perfil active" data-type="dados-perfil" onclick="menuPerfil($(this));">Dados pessoais</li>
    <li class="dados-endereco"  data-type="dados-endereco" onclick="menuPerfil($(this));">Endereço</li>
</ul>
<div id="dados-wrapper">
    @@include('../dados-perfil.html')
</div>