<div class="row mt-30 mb-30">
  <p class="red">Escolha a bandeira do seu cartão:</p>
  <div class="col-md-12">
    <button class="btn btn-cartao" onclick="openIframePagamento(this)">
      <img src=@@webRoot/img/icon-visa.svg alt="VISA" />
    </button>
    <button class="btn btn-cartao" onclick="openIframePagamento(this)">
      <img src=@@webRoot/img/icon-mastercard.svg alt="Mastercard" />
    </button>
    <button class="btn btn-cartao" onclick="openIframePagamento(this)">
      <img src=@@webRoot/img/icon-american.svg alt="American Express" />
    </button>
  </div>
</div>

<div class="iframe-pagamento"></div>
