<div id="dados-perfil">
    <div class="mr-0 ml-0">
        <div class="row">
            <div class="col-xs-4">
                <div class="change-pic" data-toggle="modal" onclick="clearPopovers(true)" data-target="#alterar-foto">
                    <img src=@@webRoot/img/perfil.png />
                </div>
            </div>
            <div class="col-xs-8">
                <h3>João da Silva</h3>
                <p class="email">joao.s.silva@gmail.com</p>
                <p class="nacionalidade">Brasileiro</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>Celular</label>
                <p class="data">11 98765 4321</p>
            </div>
            <div class="col-xs-4">
                <label>Telefone</label>
                <p class="data">11 2345 6789</p>
            </div>
            <div class="col-xs-4">
                <label>Genero</label>
                <p class="data">Masculino</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>RG</label>
                <p class="data">12.345.567-8</p>
            </div>
            <div class="col-xs-4">
                <label>CPF</label>
                <p class="data">123.456.789.01</p>
            </div>
            <div class="col-xs-4">
                <label>Nascimento</label>
                <p class="data">01/02/2001</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Nome da Mãe</label>
                <p class="data">Maria da Silva</p>
            </div>
            <div class="col-xs-6">
                <label>Nome do Pai</label>
                <p class="data">José da Silva</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Conlusão Ensino Médio</label>
                <p class="data">2017</p>
            </div>
            <div class="col-xs-6">
                <label>Escola</label>
                <p class="data">E. E. Prof. Azevedo Soares</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-offset-6 text-right">
                <button onclick="clearPopovers(true)" data-toggle="modal" data-target="#password-recover" class="btn btn-block alterar-senha">Alterar Senha</button>
            </div>
        </div>
    </div>
</div>