<div class="info-details">
        <div class="container-fluid">
            <div class="row mb-10">
            <div class="col-md-12">
                <h4>Prova</h4>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-3">
                <label class="hint">
                Data
                </label>
                <span class="data">
                26/07/2018
                </span>
            </div>
            <div class="col-md-1">
                <label class="hint">
                Horário  
                </label>
                <span class="data">
                14h
                </span>
            </div>
            <div class="col-md-8">
                <label class="hint">
                Portador de necessidade especial  
                </label>
                <span class="data">
                Respiratória
                </span>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-4">
                <label class="hint">
                Local 
                </label>
                <span class="data">
                Polo São Paulo - Largo Treze
                </span>
            </div>
            <div class="col-md-8">
                <label class="hint">
                Endereço
                </label>
                <span class="data">
                Rua Tenente Coronel Carlos da Silva Araújo, 154
                </span>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-12">
                <h4>Curso <span>1ª opção</span></h4>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-4">
                <label class="hint">
                Tipo de Curso
                </label>
                <span class="data">
                Graduação
                </span>
            </div>
            <div class="col-md-8">
                <label class="hint">
                    Como quer estudar
                </label>
                <span class="data">
                EAD (Ensino à Distância)
                </span>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-4">
                <label class="hint">
                    Quando vai estudar
                </label>
                <span class="data">
                    1º Semestre - 2018
                </span>
            </div>
            <div class="col-md-2">
                <label class="hint">
                    Estado
                </label>
                <span class="data">
                    SP
                </span>
            </div>
            <div class="col-md-6">
                <label class="hint">
                    Cidade
                </label>
                <span class="data">
                    São Paulo
                </span>
                </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-4">
                <label class="hint">
                    Polo
                </label>
                <span class="data">
                    Polo São Paulo - Largo Treze
                </span>
            </div>
            <div class="col-md-8">
                <label class="hint">
                Curso
                </label>
                <span class="data">
                Relações Internacionais
                </span>
            </div>
            </div>
            <div class="row mb-10">
            <div class="col-md-4">
                <label class="hint">
                    Instituição
                </label>
                <span class="data">
                    Universidade Anhembi Morumbi
                </span>
            </div>
            <div class="col-md-8">
                <label class="hint">
                Como quer entrar
                </label>
                <span class="data">
                Vestibular Agendado     
                </span>
            </div>
            </div>
        </div>
        </div>
        <div class="footer-actions bg-light">
        <ul>
            <li>
            <a class="link" href="#">
                Trocar Curso
            </a>
            </li>
            <li>
            <a class="link" href="#">
                Reagendar Prova
            </a>
            </li>
        </ul>
    </div>