<div class="info-details">
    <div class="container-fluid">
        <div class="row mb-10">
            <div class="col-md-12">
                <h3>
                    Comprovante Residência
                    <img style="margin: 0 0 0 10px;" src=@@webRoot/img/analise.svg width="50" />
                </h3>
            </div>
        </div>
        <div class="row mb-20">
            <div class="col-md-8">
                <div class="mb-20 d-block">
                    <span class="data">
                        Seu arquivo está em processo de análise.<br />
                        Em breve você terá um retorno no portal.
                    </span>
                </div>
                <div class="mb-10 d-block">
                    <strong class="data">
                        Algo deu errado? Você pode:
                    </strong>
                </div>
                <div class="mb-10 actions">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-dark">
                            <img class="i" src="@@webRoot/img/cloudfile.png" />
                            REENVIAR ARQUIVO
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-dark">
                            LEVAR PESSOALMENTE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-img">
                    <img src=@@webRoot/img/img.png alt="Imagem" title="Imagem"/>
                </div>
                <a href="#" class="btn btn-success">
                    ENVIADO
                </a>
            </div>
        </div>
    </div>
</div>