<div class="info-details">
    <div class="container-fluid">
        <div class="row mb-10">
            <div class="col-md-12">
                <h3>
                    Currículo
                    <img style="margin: 0 0 0 10px;" src=@@webRoot/img/reprovado.svg width="50" />
                </h3>
            </div>
        </div>
        <div class="row mb-20">
            <div class="col-md-8">
                <div class="mb-20 d-block">
                    <span class="data">
                        - O arquivo selecionado deve estar legível;<br />
                        - Tamanho máximo do arquivo de 5 Mb.
                    </span>
                </div>
                <div class="mb-10 d-block">
                    <span class="data">
                        Extensões aceitas:
                    </span>
                    <h4>JPG PNG PDF</h4>
                </div>
                <div class="mb-10 actions">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-dark">
                            <img class="i" src="@@webRoot/img/cloudfile.png" />
                            ESCOLHER ARQUIVO
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-dark">
                            LEVAR PESSOALMENTE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-img">
                    <img src=@@webRoot/img/img.png alt="Imagem" title="Imagem"/>
                </div>
                <a href="#" class="btn btn-primary">
                    ENVIAR
                </a>
            </div>
        </div>
    </div>
</div>