<div class="col-lg-12">
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="rg" value="" />
      <label for="rg" title="RG" data-title="RG"></label>
      <span
        >É estrangeiro? Digite seu RNE (Foreigner? Type your RNE instead)</span
      >
    </div>
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="cpf" value="" />
      <label for="cpf" title="CPF" data-title="CPF"></label>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="nomeMae" value="" />
      <label for="nomeMae" title="Nome da mãe" data-title="Nome da mãe"></label>
    </div>
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="nomePai" value="" />
      <label for="nomePai" title="Nome do pai" data-title="Nome do pai"></label>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="nascimento" value="" />
      <label
        for="nascimento"
        title="Data de nascimento"
        data-title="Data de nascimento"
      ></label>
    </div>
  </div>
  <div class="row">
    <div class="responsavel-financeiro col-lg-6 pl-0">
      <p class="text-responsavel-financeiro">
        Você é o responsável financeiro?
      </p>
      <label
        for="responsavelFinanceiroSim"
        class="span-responsavel-financeiro styled-radio"
      >
        <input
          type="radio"
          name="responsavelFinanceiro"
          id="responsavelFinanceiroSim"
        />
        Sim
        <span class="checkround"></span>
      </label>
      <label
        for="responsavelFinanceiroNao"
        class="span-responsavel-financeiro styled-radio"
      >
        <input
          type="radio"
          name="responsavelFinanceiro"
          id="responsavelFinanceiroNao"
        />
        <span class="checkround"></span>
        Não
      </label>
    </div>
    <div class="responsavel"></div>
  </div>
</div>
