<div class="col-lg-12">
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input
        type="text"
        required
        autocomplete="off"
        id="nome-razao-social"
        value=""
      />
      <label
        for="nome-razao-social"
        title="Nome / Razão Social"
        data-title="Nome / Razão Social"
      ></label>
    </div>
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="cnjp" value="" />
      <label for="cnjp" title="CNPJ" data-title="CNPJ"></label>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input
        type="text"
        required
        autocomplete="off"
        id="contato-empresa"
        value=""
      />
      <label
        for="contato-empresa"
        title="Pessoa para contato na empresa"
        data-title="Pessoa para contato na empresa"
      ></label>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-6 pl-0">
      <input type="numer" required autocomplete="off" id="cep" value="" />
      <label for="cep" title="CEP" data-title="CEP"></label>
    </div>
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="endereco" value="" />
      <label for="endereco" title="Endereço" data-title="Endereço"></label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 d-flex pl-0">
      <div class="field telefone">
        <input type="number" required autocomplete="off" id="numero" value="" />
        <label for="numero" title="Nº" data-title="Nº"></label>
      </div>
      <div class="field complemento">
        <input
          type="number"
          required
          autocomplete="off"
          id="complemento"
          value=""
        />
        <label
          for="complemento"
          title="Complemento"
          data-title="Complemento"
        ></label>
      </div>
    </div>
    <div class="field col-lg-6 pl-0">
      <input type="text" required autocomplete="off" id="bairro" value="" />
      <label for="bairro" title="Bairro" data-title="Bairro"></label>
    </div>
  </div>
  <div class="row">
    <div class="field col-lg-6 pl-0 selection">
      <select name="cidade" id="cidade" onchange="selectedOption(this)">
        <option value="" hidden></option>
        <option value="teste">teste 1</option>
        <option value="teste">teste 2</option>
        <option value="teste">teste 3</option>
      </select>
      <label for="cidade" title="Cidade" data-title="Cidade"></label>
    </div>
    <div class="field col-lg-6 pl-0 selection">
      <select name="estado" id="estado" onchange="selectedOption(this)">
        <option value="" hidden></option>
        <option value="teste">teste 1</option>
        <option value="teste">teste 2</option>
        <option value="teste">teste 3</option>
      </select>
      <label for="estado" title="Estado" data-title="Estado"></label>
    </div>
  </div>
</div>

@@include('partials/matricula-buttons.html')
